// components/results-table/results-table.component.scss

// SCSS
.table-wrap {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  th {
    background: #f9f9f9;

    &:not(:last-child) {
      &:not(:first-child), &:first-child:has(.icon) {
      cursor: pointer;
      user-select: none;
      white-space: nowrap;

      &:hover {
        background: #f0f0f0;
      }
      }
    }
  }
  tr:hover {
    background: #f5f5f5;
  }
  .expand-row {
    background: #fafafa;

    .expanded-content {
      margin: 0.5rem 1rem;

      .peak-section {
        margin-top: 1rem;
      }
    }
  }
}