//pages/index-page/index-page.component.scss
// SCSS
// this is the ugly display of the form
// requirement is to create a better user interface that is cleaner and more pleasing
// to the eye
.inventory-search {
  .form {
    display: grid;

    .row {
      display: grid;
      grid-template-columns: 20vw 30% repeat(3, minmax(160px, 1fr));
      gap: 1rem;
      align-items: start;
      #onlyAvailable {
        padding-top: 0.5rem;
      }
    }
  }

  .loading {
    margin: 0.5rem 0;
    color: #555;
  }
}